# Cafetera HR Bot — environment variables
# Copy to .env and fill in real values.

# VK Bot
VK_ACCESS_TOKEN=vk1.a.aNvXwXltTgGlsq2I2Lae96qEGrnNP6lHXCqL20lkvK5233kyzNnl0p67ebdIGXmBPQ_BsSXSHIGFk-rvcAYIL1w5GCPM61BvRM-V_9CgB0wiEIyhwjPF3nl_ahgOoYvsNhvfTMloVndb-WuRyOyo6XwuQIP3ABI0zGXL2U41Fl8RYKSYhBTc1tzK14ZOiIf0FTXLSwSoyH95GdqLr4zGqg
VK_GROUP_ID=237406790
